fastapi
uvicorn
PyMuPDF
sqlalchemy
langchain>=0.3.3,<0.4.0
langchain-core==0.3.8
langchain-community>=0.3.3,<0.4.0
langchain-chroma==0.1.2
langchain-google-genai
llama-index
chromadb
pypdf
openai
psycopg2-binary
python-dotenv
google-generativeai
