fastapi
uvicorn
PyMuPDF
sqlalchemy
langchain==0.3.4
langchain-core==0.3.13
langchain-community==0.3.4
langchain-chroma==0.1.4
langchain-openai==0.3.0
llama-index
chromadb==0.5.13
pypdf
openai
psycopg2-binary
python-dotenv
google-generativeai
