fastapi
uvicorn
PyMuPDF
sqlalchemy
langchain
langchain-core
langchain-community
langchain-chroma
chromadb
langchain-openai
llama-index
pypdf
openai
psycopg2-binary
python-dotenv
google-generativeai
langchain-google-genai==1.0.3
python-multipart


